@{
    ViewData["Title"] = "Home Page";
}
<style>
	.container {
		text-align: center;
		padding: 50px;
	}

	.welcome-section {
		margin-bottom: 30px;
	}

	.display-4 {
		font-size: 3em;
		color: #2c3e50;
		margin-bottom: 10px;
	}

	.subtitle {
		font-size: 1.5em;
		color: #34495e;
		margin-bottom: 20px;
	}

	.image-section img {
		width: 100%;
		height: auto;
		border: 5px solid #2c3e50;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
</style>

<div class="container">
    <div class="welcome-section">
		<h1 class="display-4">Chào Mừng Đến Với Trường THPT THẠCH THẤT</h1>
        <p class="subtitle">Nơi Kiến Thức Mở Lối Tương Lai</p>
    </div>
    <div class="image-section">
		<img src="https://cdn.24h.com.vn/upload/3-2023/images/2023-08-31/1693500174-img-3368-4189-width645height363.jpg" alt="School Image">
    </div>
</div>