<style>
    .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 20px;
        max-width: 900px;
        width: 100%;
    }

    .header {
        text-align:center;
        margin-bottom: 20px;
    }

        .header .logo {
            width: 100px;
            height: auto;
        }

        .header h1 {
            font-size: 24px;
            color: #c00000;
        }

    .students {
        display: flex;
        justify-content: space-around;
    }

    .student {
        background: linear-gradient(to bottom, #f9f9f9, #e6e6e6);
        border-radius: 10px;
        padding: 10px;
        max-width: 200px;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .student .photo {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .student h2 {
            font-size: 18px;
            color: #333;
            margin-bottom: 5px;
        }

        .student p {
            font-size: 16px;
            color: #666;
        }
</style>

<div class="">
    <div class="header">
        <img src="https://localhost:44300/img/logo.jpg" alt="School Logo" class="logo">
        <h1>
            Vinh danh học sinh đạt thành tích xuất sắc trong kỳ thi vào đại học
            Năm học 2020 - 2021
            <br>Năm học 2020 - 2021
        </h1>
    </div>
    <div class="students">
        <div class="student">
            <img src="https://tiki.vn/blog/wp-content/uploads/2023/02/OTnU3B4qrVKQGP3Ub-M5mxSq9P2QOXf0_O8eNYdEL0y-doj8TvcaVEu2IiJwvUqCNig3ffoyo-odFHVYZlFEWIE3ZT-ozt6XZihJ6gFrStcVg34hVnOQ8E9YGJkJLRgut1ea-CqRNNzknPqwXZF8-88.png" alt="Quyen N. Thao Chi" class="photo">
            <h2>Quyền N. Thảo Chi - 12A9</h2>
            <p>Tổng điểm: 30 điểm</p>
        </div>
        <div class="student">
            <img src="https://topstudio.com.vn/wp-content/uploads/2022/08/chup-hinh-chan-dung-nghe-thuat-26.jpg" alt="Quyen T. Thanh An" class="photo">
            <h2>Quyền T. Thanh An - 12D</h2>
            <p>Tổng điểm: 29,5 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà - 12C</h2>
            <p>Tổng điểm: 29,8 điểm</p>
        </div>
        <div class="student">
            <img src="https://tiki.vn/blog/wp-content/uploads/2023/02/OTnU3B4qrVKQGP3Ub-M5mxSq9P2QOXf0_O8eNYdEL0y-doj8TvcaVEu2IiJwvUqCNig3ffoyo-odFHVYZlFEWIE3ZT-ozt6XZihJ6gFrStcVg34hVnOQ8E9YGJkJLRgut1ea-CqRNNzknPqwXZF8-88.png" alt="Quyen N. Thao Chi" class="photo">
            <h2>Quyền N. Thảo Chi - 12A9</h2>
            <p>Tổng điểm: 30 điểm</p>
        </div>
        <div class="student">
            <img src="https://topstudio.com.vn/wp-content/uploads/2022/08/chup-hinh-chan-dung-nghe-thuat-26.jpg" alt="Quyen T. Thanh An" class="photo">
            <h2>Quyền T. Thanh An - 12D</h2>
            <p>Tổng điểm: 29,5 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà - 12C</h2>
            <p>Tổng điểm: 29,8 điểm</p>
        </div>
    </div>
    <div class="header">
        <img src="https://localhost:44300/img/logo.jpg" alt="School Logo" class="logo">
        <h1>Vinh danh những học sinh tham gia các các hoạt động thanh niên tích cực <br>Năm học 2020 - 2021</h1>
    </div>
    <div class="students">
        <div class="student">
            <img src="https://tiki.vn/blog/wp-content/uploads/2023/02/OTnU3B4qrVKQGP3Ub-M5mxSq9P2QOXf0_O8eNYdEL0y-doj8TvcaVEu2IiJwvUqCNig3ffoyo-odFHVYZlFEWIE3ZT-ozt6XZihJ6gFrStcVg34hVnOQ8E9YGJkJLRgut1ea-CqRNNzknPqwXZF8-88.png" alt="Quyen N. Thao Chi" class="photo">
            <h2>Quyền N. Thảo Chi - 9E</h2>
            <p>Tổng điểm: 54,35 điểm</p>
        </div>
        <div class="student">
            <img src="https://topstudio.com.vn/wp-content/uploads/2022/08/chup-hinh-chan-dung-nghe-thuat-26.jpg" alt="Quyen T. Thanh An" class="photo">
            <h2>Quyền T. Thanh An - 9D</h2>
            <p>Tổng điểm: 54,5 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà - 9C</h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà - 9C</h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà - 9C</h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà - 9C</h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>
      
    </div>
    <div class="header">
        <img src="https://localhost:44300/img/logo.jpg" alt="School Logo" class="logo">
        <h1>Vinh danh học sinh đạt thành tích xuất sắc trong kỳ thi vào lớp 10 THPT<br>Năm học 2020 - 2021</h1>
    </div>
    <div class="students">
        <div class="student">
            <img src="https://tiki.vn/blog/wp-content/uploads/2023/02/OTnU3B4qrVKQGP3Ub-M5mxSq9P2QOXf0_O8eNYdEL0y-doj8TvcaVEu2IiJwvUqCNig3ffoyo-odFHVYZlFEWIE3ZT-ozt6XZihJ6gFrStcVg34hVnOQ8E9YGJkJLRgut1ea-CqRNNzknPqwXZF8-88.png" alt="Quyen N. Thao Chi" class="photo">
            <h2>Quyền N. Thảo Chi</h2>
            <p>Tổng điểm: 54,35 điểm</p>
        </div>
        <div class="student">
            <img src="https://topstudio.com.vn/wp-content/uploads/2022/08/chup-hinh-chan-dung-nghe-thuat-26.jpg" alt="Quyen T. Thanh An" class="photo">
            <h2>Quyền T. Thanh An </h2>
            <p>Tổng điểm: 54,5 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà </h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà </h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà </h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>
        <div class="student">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIa9vuGEwHhBhl46cNpQTW0Kpds-vlXWT_w&s" alt="Quyen Thu Ha" class="photo">
            <h2>Quyền Thu Hà </h2>
            <p>Tổng điểm: 54,8 điểm</p>
        </div>

    </div>
</div>